[package]
name = "iptr-edge-analyzer"
description = "Analyze edges in Intel PT data"
keywords = ["Intel PT"]
version = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[lints]
workspace = true

[dependencies]
iptr-decoder = { workspace = true }
thiserror = { workspace = true }
perfect-derive = { workspace = true }
iced-x86 = { workspace = true }
hashbrown = { workspace = true }
